<section class="page-exhibit mb-2" *ngIf="product && product.name">
  <div class="container">
    <p class="section-header">{{ title }}</p>
    <div class="deal-box" *ngIf="product">
      <div class="deal-image" (click)="openProduct(product.productID)">
        <div class="deal-main-image mb-1">
          <div>
            <h6
              *ngif="showProductName == true"
              class="section-header image-text"
            >
              {{ product?.name }}
            </h6>
            <img
              [src]="
                product.gallery
                  ? product.gallery[0].productImageUrl
                  : 'https://res.cloudinary.com/matrixweb/image/upload/v1641151579/apicommerce_irdaug.jpg'
              "
              alt="'product.name'"
            />
          </div>
        </div>
        <div class="deal-image-list" *ngIf="product.gallery && product.gallery.length > 0">
          <div class="deal-img-box" *ngFor="let item of product.gallery.slice(0, 3);index as sn">
            <img [src]="item.productImageUrl" alt="item.productImage" />
          </div>
        </div>
      </div>
      <div class="deal-info">
        <a class="product-name text-muted text-bold" [routerLink]="['/product', product?.productID]">
          {{product?.name}}
        </a>

        <p class="product-price">&#8358; {{product?.unitPrice | number }}</p>

        <p class="is-instock">
          <i class="fa fa-circle"></i> In Stock <span>{{product?.rating}} / 5</span>
        </p>

        <div class="product-summary my-2">
          <p class="text-muted text-bold">Description:</p>
          <p>
           {{product?.summary}}
          </p>
        </div>
        <div>
          <label class="mr-1 text-muted text-bold">Quantity:</label>
          <app-qty-btn (changeQuantity)="updateQty($event)" [Quantity]="orderedQty"></app-qty-btn>

          <button *ngIf="!isInCart" class="btn btn-primary btn-sm mt-1" (click)="addToCart()">Add To Cart</button>
          <button *ngIf="isInCart" class="btn btn-danger outline btn-sm mt-1" (click)="removeFromCart()">Remove From Cart</button>
        </div>
      </div>
    </div>
  </div>
</section>
