<section class="page-exhibit mb-2">
  <div class="container">
    <p class="section-header">Deal of The Day</p>
    <div class="deal-box">
      <div class="deal-image">
        <div class="deal-main-image mb-1">
          <div>
            <h6 class="section-header image-text">Beats By Dre Heaphone</h6>
            <img src="assets/img/headphone-2.png" alt="" />
          </div>
        </div>
        <div class="deal-image-list">
          <div class="deal-img-box">
            <img src="assets/img/headphone-2.png" alt="" />
          </div>
          <div class="deal-img-box">
            <img src="assets/img/headphone-3.png" alt="" />
          </div>
          <div class="deal-img-box">
            <img src="assets/img/headphone-2.png" alt="" />
          </div>
        </div>
      </div>
      <div class="deal-info">
        <a class="product-name text-muted text-bold" routerLink="/product">
          Beats By Dre Heaphone
        </a>

        <p class="product-price">&#8358; 200,000</p>

        <p class="is-instock">
          <i class="fa fa-circle"></i> In Stock <span>4.5 / 5</span>
        </p>

        <div class="product-summary my-2">
          <p class="text-muted text-bold">Description:</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa,
            magni voluptates et praesentium non commodi doloremque tenetur sit
            aut impedit consectetur saepe consequatur itaque quod dolor. Nemo
            error non odit totam atque quam. Ut rem soluta accusantium qui
            fugiat cumque consequatur voluptate. Nisi fugit dolores numquam
            dolor cumque dignissimos laudantium?
          </p>
        </div>
        <div>
          <app-qty-btn></app-qty-btn>
        </div>
      </div>
    </div>
  </div>
</section>
