.product-item-box {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  width: 300px;
  height: 400px;
  overflow: hidden;
  padding: 5px;
}

.product-item-box:hover {
  box-shadow: var(--hover-box-shadow);
}

.product-item-image {
  height: 250px;
  background-color: var(--product-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.product-item-image img {
  width: 150px;
  height: 170px;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--border);
  font-size: 12px;
  border-radius: var(--border-radius);
  padding: 4px;
}

.product-item-info {
  margin-top: 1.5rem;
  padding: 0 5px;
}

.product-item-name,
.product-item-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-item-header {
  width: 70%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.product-item-rating i {
  color: var(--clr-warning);
  margin-right: 5px;
}

.product-item-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--disabled-color);
}

.product-item-price {
  align-items: baseline;
}

.product-item-price .value {
  font-weight: bold;
  font-size: 18px;
  color: var(--blue-hover);
}

.product-item-price .btn.btn-sm {
  height: 35px;
}

@media (max-width: 1024px) {
  .product-item-box {
    width: 250px;
    height: 350px;
  }

  .product-item-image {
    height: 200px;
  }

  .product-item-image img {
    width: 100px;
    height: 120px;
  }

  .product-item-price i {
    display: none;
  }

  .product-item-price.mt-2 {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .product-item-box {
    width: 200px;
    height: 300px;
  }

  .product-item-image {
    height: 150px;
  }

  .product-item-image img {
    width: 50px;
    height: 70px;
  }

  .product-item-price span {
    display: none;
  }

  .product-item-price i.mr-1 {
    display: block;
    margin-right: 0;
  }

  .product-item-price .btn.btn-sm {
    width: 15px;
  }
}

@media (max-width: 481px) {
  .product-item-box {
    width: 150px;
    height: 310px;
  }

  .product-item-image {
    height: 150px;
  }

  .product-item-image img {
    width: 50px;
    height: 70px;
  }

  .product-item-price span,
  .product-item-price {
    display: block;
  }

  .product-item-price .value,
  .product-item-info {
    padding: 0;
    margin: 0;
  }

  .product-item-price .value{
    text-align: center;
  }

  .product-item-info {
    margin-top: 10px;
  }

  .product-item-price i.mr-1 {
    margin-right: 10px;
  }

  .product-item-price .btn.btn-sm {
    margin: 0;
    width: 100%;
    height:40px;
  }

  .product-item-header {
    font-size: 14px;
  }
}
