<div *ngIf="product" class="product-item-box">
  <div class="product-item-image" (click)="openProduct(product.productID)">
    <div>
      <img
        [src]="
          product.gallery
            ? product.gallery[0].productImageUrl
            : 'https://res.cloudinary.com/matrixweb/image/upload/v1641151579/apicommerce_irdaug.jpg'
        "
        alt="'product.name'"
      />

      <div class="product-item-price">
        <span>&#8358; {{ product?.unitPrice | number }}</span>
      </div>
      <div class="product-item-rating">
        <i class="fas fa-star"></i> <span>{{ product?.rating }}</span>
      </div>
    </div>
  </div>
  <div class="product-item-info">
    <div class="product-item-description">
      <div class="product-item-name">
        <h5 class="section-header product-item-header">
          {{ product?.name }}
        </h5>
      </div>
    </div>
    <div class="cart-btn mt-2">
      <button *ngIf="!isInCart" class="btn btn-primary btn-sm" (click)="addToCart()">Add To Cart</button>
      <button *ngIf="isInCart" class="btn btn-danger outline btn-sm" (click)="removeFromCart()">Remove From Cart</button>
    </div>
  </div>
</div>
