.product-item-box {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  transition: var(--transition);
  width: 300px;
  height: 400px;
  overflow: hidden;
  padding: 5px;
  position: relative;
}

.product-item-box:hover {
  box-shadow: var(--hover-box-shadow);
}

.product-item-image {
  height: 250px;
  background-color: var(--product-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.product-item-image img {
  width: 150px;
  height: 170px;
}

.product-item-price {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--border);
  font-size: 14px;
  border-radius: var(--border-radius);
  padding: 4px;
  font-weight: bold;
}

.product-item-info {
  margin-top: 1.5rem;
}

.product-item-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-item-header {
  width: 70%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.product-item-rating i {
  color: var(--clr-warning);
  margin-right: 5px;
}

.product-item-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--disabled-color);
}

.cart-btn{
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cart-btn .btn.btn-sm {
  width: 100%;
}

@media (max-width: 1024px) {
  .product-item-box {
    width: 250px;
    height: 350px;
  }

  .product-item-image {
    height: 200px;
  }

  .product-item-image img {
    width: 100px;
    height: 120px;
  }

  .cart-btn.mt-2 {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .product-item-box {
    width: 200px;
    height: 300px;
    flex: 45%;
  }

  .product-item-text {
    display: none;
  }

  .product-item-image {
    height: 170px;
  }

  .product-item-image img {
    width: 50px;
    height: 70px;
  }

  .product-item-header {
    font-size: 14px;
  }
}

@media (max-width: 481px) {
  .product-item-info {
    margin-top: 10px;
  }

  .product-item-text {
    display: none;
  }

  .product-item-header {
    font-size: 14px;
  }
}
