<div class="product-item-box">
  <div class="product-item-image">
    <div>
      <img src="assets/img/music-headphone-13.png" alt="product name" />
      <div class="discount"><span>30% off</span></div>
    </div>
  </div>
  <div class="product-item-info">
    <div class="product-item-description">
      <div class="product-item-name">
        <h5 class="section-header product-item-header">Head Phone Pink 250BT</h5>
        <div class="product-item-rating">
          <i class="fas fa-star"></i> <span>3.5</span>
        </div>
      </div>
      <p class="product-item-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quod
        doloribus mollitia ratione eaque sapiente minus molestias? Ipsa,
        reiciendis molestias.
      </p>
    </div>
    <div class="product-item-price mt-2">
      <p class="value">&#8358; 200,000</p>
      <button class="btn btn-primary btn-sm"><i class="fas fa-plus mr-1"></i>Add To Cart</button>
    </div>
  </div>
</div>
