<app-product-detail
  [title]="product.name"
  [showProductName]="showProductName"
  [product]="product"
  [isInCart]="isProductInCart"
  [orderedQty]="orderedQuantity"
  *ngIf="product"
></app-product-detail>

<section class="product-full-details mb-2" *ngIf="product">
  <div class="container">
    <div class="main-detail">
      <button class="accordion" onclick="openAccordion(event)">Details</button>
      <div class="panel mb-2">
        <div class="panel-box">
          <p>
            {{ product.description ? product?.description : product?.summary }}
          </p>
        </div>
      </div>

      <button class="accordion" onclick="openAccordion(event)">
        Customer Review
      </button>
      <div class="panel mb-2">
        <div class="panel-box">
          <div class="review-btn">
            <button
              class="btn btn-sm btn-warning mb-1"
              onclick="openModal('review-modal')"
            >
              Add Review
            </button>
          </div>
          <div
            class="review"
            *ngFor="let review of product.reviews; index as sn"
          >
            <span class="text-muted text-bold">{{ review.customerName }}</span>
            <sup class="rating-sup">{{ review.rating }}</sup>
            <p>
              {{ review.customerReview }}
            </p>
          </div>
        </div>
      </div>

      <button class="accordion" onclick="openAccordion(event)">
        Shipping and Returns
      </button>
      <div class="panel mb-2">
        <div class="panel-box">
          <p class="text-bold text-muted panel-header">Returns Policy</p>
          <p>
            You may return most new, unopened items within 30 days of delivery
            for a full refund. We'll also pay the return shipping costs if the
            return is a result of our error (you received an incorrect or
            defective item, etc.).
          </p>
          <p>
            You should expect to receive your refund within three weeks of
            giving your package to the return shipper, however, in many cases,
            you will receive a refund more quickly.
          </p>
          <p>
            If you need to return an item, please contact our consumer service
            email care.ng@oraimo.com and attach your order ID and your issue. If
            the refund is approved we will notify you via e-mail.
          </p>
          <p class="panel-header text-bold text-muted">Shipping</p>
          <p>
            We can ship to virtually any address in Nigeria. Note that if you
            can build an order at the checkout process that's mean we cant
            deliver the parcel to the address which you fill.
          </p>
          <p>
            When you place an order, we will estimate shipping and delivery
            dates for you based on the availability of your items and the
            shipping options you choose. Depending on the shipping provider you
            choose, shipping date estimates may appear on the shipping quotes
            page.
          </p>
          <p>
            Please also note that the shipping rates for many items we sell are
            price-based. For example, if your order is over free shipping price
            request we will exempt all shipping fees and just charge the product
            fee.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="review-modal" class="modal" *ngIf="product">
  <div class="modal-content">
    <div class="modal-header">
      <p class="text-capitalize text-bold">Rate Product</p>
      <p class="close" onclick="closeModal(event , 'review-modal')">
        <i class="fas fa-times close-modal"></i>
      </p>
    </div>
    <div class="modal-body">
      <form
        [formGroup]="reviewForm"
        (ngSubmit)="AddReview()"
        class="form modal-form"
      >
        <input
          type="text"
          hidden
          formControlName="productID"
          [(ngModel)]="product.productID"
        />

        <div class="input-group">
          <label for="customerName" class="required text-bold text-muted"
            >Name</label
          >
          <input type="text" formControlName="customerName" />
          <small class="danger form-error" id="formNameError"
            >Name is required</small
          >
        </div>

        <div class="input-group">
          <label for="rating" class="text-bold text-muted required"
            >Choose A Rating</label
          >
          <div class="rating">
            <input
              type="radio"
              formControlName="rating"
              value="5"
              id="5"
            /><label for="5">☆</label>
            <input
              type="radio"
              formControlName="rating"
              value="4"
              id="4"
            /><label for="4">☆</label>
            <input
              type="radio"
              formControlName="rating"
              value="3"
              id="3"
            /><label for="3">☆</label>
            <input
              type="radio"
              formControlName="rating"
              value="2"
              id="2"
            /><label for="2">☆</label>
            <input
              type="radio"
              formControlName="rating"
              value="1"
              id="1"
            /><label for="1">☆</label>
          </div>
        </div>

        <div class="input-group">
          <label for="email" class="optional text-bold text-muted">Email</label>
          <input type="text" formControlName="email" />
          <small class="danger form-error" id="formEmailError"
            >Please input a valid email</small
          >
        </div>
        <div class="input-group">
          <label for="customerReview" class="optional text-bold text-muted"
            >Review</label
          >
          <textarea type="text" formControlName="customerReview"></textarea>
        </div>

        <div class="modal-btn-box">
          <button
            class="btn btn-sm btn-warning outline mx-1 modal-btn"
            onclick="closeModal(event , 'review-modal')"
          >
            Close
          </button>
          <button type="submit" class="btn btn-sm btn-primary modal-btn">
            Submit Your Reviews
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--
  <section class="my-2">
    <div class="container">
      <p class="section-header text-center">Similar Products</p>

      <div class="product-item-list mb-1">
        <app-product-box></app-product-box>
        <app-product-box></app-product-box>
        <app-product-box></app-product-box>
      </div>
    </div>
  </section>

-->
