.cart-summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding: 5px 10px 5px 5px;
  width: auto;
  margin-bottom: 10px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cart-summary-product-detail {
  display: flex;
}

.cart-summary-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}
.cart-summary-img img {
  width: 60px;
  height: 60px;
}

.cart-summary-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.cart-summary-item-info p {
  margin: 0;
}

.cart-summary-qty span{
  font-size: 18px;
  font-weight: bold;
  color: var(--disabled-color);
}
/*
@media (max-width: 481px) {
  .cart-item {
    display: block;
    padding: 5px 5px 5px 5px;
  }

  .cart-qty {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
*/

@media (max-width: 992px) {
  .cart-summary-item {
    display: none;
  }
}
