<section class="page-exhibit">
  <div class="container">
    <p>Deal of The Day</p>
    <div class="deal-box">
      <div class="deal-image">
        <div class="deal-main-image mb-1">
          <div>
            <h6 class="image-text">Beats By Dre Heaphone</h6>
            <img src="assets/img/headphone-2.png" alt="" />
          </div>
        </div>
        <div class="deal-image-list">
          <div class="deal-img-box">
            <img src="assets/img/headphone-2.png" alt="" />
          </div>
          <div class="deal-img-box">
            <img src="assets/img/headphone-3.png" alt="" />
          </div>
          <div class="deal-img-box">
            <img src="assets/img/headphone-2.png" alt="" />
          </div>
        </div>
      </div>
      <div class="deal-info">
        <a class="product-name" href="Product.html">
          <h6>Beats By Dre Heaphone</h6>
        </a>
        <p class="product-price">&#8358; 200,000</p>

        <div class="ratings-review mb-1">
          <span>4.5 / 5</span>
        </div>

        <p class="is-instock"><i class="fa fa-circle"></i> In Stock</p>

        <div class="product-summary my-3">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa,
            magni voluptates et praesentium non commodi doloremque tenetur sit
            aut impedit consectetur saepe consequatur itaque quod dolor. Nemo
            error non odit totam atque quam. Ut rem soluta accusantium qui
            fugiat cumque consequatur voluptate. Nisi fugit dolores numquam
            dolor cumque dignissimos laudantium?
          </p>
        </div>
        <div class="deal-form">
          <form autocomplete="off" class="form">
            <input
              type="number"
              class="form-input mb-1"
              step="1"
              min="1"
              max="300"
              name="quantity"
              value="1"
            />
            <div class="form-button">
              <button class="btn btn-sm btn-primary mr-1">Add To Cart</button>
              <button class="btn btn-sm btn-success">
                Proceed To Checkout
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
