<section class="page-exhibit">
  <div class="container">
    <p class="section-header">Cart</p>
    <div class="cart-box">
      <div class="cart">
        <div class="cart-item">
          <div class="cart-product-detail">
            <div class="cart-img">
              <img src="assets/img/headphone-2.png" alt="" />
            </div>
            <div class="cart-item-info">
              <p class="cart-item-name text-muted text-bold">
                Beats By DRE headphones
              </p>
              <p class="cart-item-price">&#8358; 200,000</p>
            </div>
          </div>
          <div class="cart-qty">
            <app-qty-btn></app-qty-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
