<section class="page-exhibit mb-2">
  <div class="container">
    <p class="section-header text-muted">Your Shipping Information</p>
    <div class="">
      <div class="shipping-info">
        <div class="order-id">
          <div class="check-icon">
            <i class="fa fa-check"></i>
          </div>
          <div class="order-number">
            <span>Order Confirmation</span>
            <p>Thank You {{orderComplete?.customerFirstName}}!</p>
          </div>
        </div>
        <div class="order-details-box">
          <div class="order-detail">
            <h1 class="order-header text-capitalize">
              Your Order is has been placed
            </h1>
            <p>
              Thanks for ordering from us, we will send out your parcel as soon
              as possible. Your order will be delivered in 4-6 business days.
              Kindly wait for it!
            </p>
          </div>
          <div class="order-detail">
            <h1 class="order-header text-capitalize">Order updates</h1>
            <p>You’ll get shipping and delivery updates by email.</p>
          </div>
          <div class="order-detail">
            <h1 class="order-header text-capitalize">Delivery Address</h1>
            <p>
              {{ orderComplete?.customerFirstName }},
              {{ orderComplete?.shippingAddress }}
            </p>
          </div>
          <div class="order-address-box">
            <div class="order-address">
              <div class="order-group">
                <h1 class="order-header">Contact information</h1>
                <p>
                  {{ orderComplete?.customerEmail }},
                  {{ orderComplete?.customerPhoneNumber }}
                </p>
              </div>

              <div class="order-group">
                <h1 class="order-header">Shipping method</h1>
                <p>Free Shipping</p>
              </div>
            </div>

            <div class="order-address">
              <div class="order-group">
                <h1 class="order-header">Payment method</h1>
                <ul class="order-payment-options">
                  <li class="order-payment">
                    <span class=""
                      >Pay On Delivery(POD) - &#8358;{{ cartTotal | number }}</span
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="receipt-link">
            <a routerLink="/home" class="btn btn-primary btn-sm mb-1">
              Continue shopping
            </a>
            <button
              class="btn btn-warning outline btn-sm"
              onclick="openModal('checkout-modal')"
            >
              View Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="checkout-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <p class="text-capitalize text-bold">Shopping Cart</p>
      <p class="close" onclick="closeModal(event , 'checkout-modal')">
        <i class="fas fa-times close-modal"></i>
      </p>
    </div>
    <div class="modal-body">
      <div class="shipping-items mb-2">
        <div class="summary-header mb-1">
          <p class="text-bold text-muted">Order</p>
        </div>
        <div class="cart-summary">
          <app-cart-summary
            *ngFor="let product of orderComplete?.cartComplete"
            [cart]="product"
          ></app-cart-summary>
        </div>
        <div class="checkout-box summary">
          <p class="text-bold text-muted">Total</p>
          <p class="text-bold text-muted">&#8358; {{ cartTotal | number }}</p>
        </div>
        <div class="modal-btn-box">
          <button
            class="btn btn-sm btn-warning modal-btn mt-1"
            onclick="closeModal(event , 'checkout-modal')"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
