<section class="page-exhibit mb-2">
  <div class="container">
    <p class="section-header text-muted">Your Shipping Information</p>
    <div class="shipping-section-box">
      <div class="shipping-items mb-2">
        <div class="summary-header mb-1">
          <p class="text-bold text-muted">Order</p>
          <div class="summary-action">
            <button
              class="btn btn-warning outline btn-xsm"
              onclick="openModal('checkout-modal')"
            >
              View Order
            </button>
            <a routerLink="/cart" class="btn btn-warning outline btn-xsm"
              >Edit</a
            >
          </div>
        </div>
        <div class="cart-summary">
          <app-cart-summary
            *ngFor="let product of cart"
            [cart]="product"
          ></app-cart-summary>
        </div>
        <div class="checkout-box summary">
          <p class="text-bold text-muted">Total</p>
          <p class="text-bold text-muted">&#8358; {{ cartTotal | number }}</p>
        </div>
      </div>
      <div class="shipping-info">
        <form action="" class="form shipping-form">
          <div class="input-group">
            <label for="email">What's your Email Address?</label>
            <input type="text" name="email" placeholder="Enter email" />
            <small class="danger">email is required</small>
          </div>
          <div class="input-group">
            <label for="phone">What's your Phone Number</label>
            <input type="text" name="phone" placeholder="Enter phone number" />
            <small class="success">number passed is valid</small>
          </div>
          <div class="input-group">
            <label for="lastName">What's your name?</label>
            <input type="text" name="lastName" placeholder="Enter your name" />
          </div>
          <div class="input-group">
            <label for="address">What's the delivery address</label>
            <input
              type="text"
              name="address"
              placeholder="Enter your address"
            />
            <small class="text-muted">Address should include No. Street Name City and State. E.G 48 Vaughan Street Ebute Metta Lagos</small>
          </div>
          <div class="form-btn mt-1">
            <button class="btn btn-success btn-sm btn-full mr-1 mb-1">
              Proceed to Order
            </button>
            <button
              routerLink="/cart"
              class="btn btn-danger outline btn-sm btn-full"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div id="checkout-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <p class="text-capitalize text-bold">Shopping Cart</p>
      <p class="close" onclick="closeModal(event , 'checkout-modal')">
        <i class="fas fa-times close-modal"></i>
      </p>
    </div>
    <div class="modal-body">
      <div class="shipping-items mb-2">
        <div class="summary-header mb-1">
          <p class="text-bold text-muted">Order</p>
          <a routerLink="/cart" class="btn btn-warning outline btn-xsm">Edit</a>
        </div>
        <div class="cart-summary">
          <app-cart-summary
            *ngFor="let product of cart"
            [cart]="product"
          ></app-cart-summary>
        </div>
        <div class="checkout-box summary">
          <p class="text-bold text-muted">Total</p>
          <p class="text-bold text-muted">&#8358; {{ cartTotal | number }}</p>
        </div>
        <div class="modal-btn-box">
          <button
            class="btn btn-sm btn-warning modal-btn mt-1"
            onclick="closeModal(event , 'checkout-modal')"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
